body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 50px;
    padding: 20ox;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

#display {
    font-size: 36px;
    margin: 20px 0;
    font-weight: bold;
}

.buttons {
    display:flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#pause {
    background: #ffc107;
}

#pause:hover {
    background: #e0a800;
}

#reset {
    background: red;
}

#reset:hover {
    background: darkred;
}
